// Ligh theme site colors:
$primary-color: #fdfdfd;
$window-color:  #eeeeee;
$second-color: #cccccc;
$border-color: #2d2d2d;

// Dark theme site colors:
$primary-color-dark: #272633;
$window-color-dark:  #46455B;
$second-color-dark: #32293d;
$font-color-dark: rgb(255, 255, 255);
$border-color-dark: #c8c8c8;

$font-color-dark-placholder: #ffffff80;

$footer-header-height: 70;
$theme-switch-animation: 600;
$main-page-margin: 40;

$danger-color: #ff0000;
$loader-size: 80;
$card-width: 250;